body{ font-family:'lato'; font-size:16px; color:#2c2c2c; line-height:24px;}

a{ transition:all 300ms linear;}

h1{ font-size:30px; line-height:1.2em; font-weight:600; color:#2c2c2c; margin:0; padding:0;}

h2{ font-size:30px; line-height:1.2em; font-weight:400; color:#5c65be; margin:0; padding:0;}

a:hover, a:active{outline:0;}

button:focus{outline:0;}

a{text-decoration:none;color:#5c65be;}

a:hover{text-decoration:none;color:#5c65be;}

a:focus{text-decoration:none;outline:none;color:#5c65be;}



@font-face {

    font-family: 'lato';

    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),

         url('../fonts/lato-regular-webfont.woff') format('woff');

    font-weight: 400;

    font-style: normal;

}

@font-face {

    font-family: 'lato';

    src: url('../fonts/lato-semibold-webfont.woff2') format('woff2'),

         url('../fonts/lato-semibold-webfont.woff') format('woff');

    font-weight: 600;

    font-style: normal;

}

@font-face {

    font-family: 'lato';

    src: url('../fonts/lato-bold.woff2') format('woff2'),

         url('../fonts/lato-bold.woff') format('woff');

    font-weight: 700;

    font-style: normal;

}



.header{ background:#5c65be; color:#fff;}

.header .logo{ padding:9px 0;}

.header .mainnav{}

.header .mainnav ul{ margin:0; padding:0; list-style:none; text-align:center;}

.header .mainnav ul li{ margin:0 9px; display:inline-block;}

.header .mainnav ul li a{ color:#fff; text-transform:uppercase; font-size:16px; padding:27px 5px; display:inline-block; border-bottom:4px solid #474fa5; text-decoration:none;}

.header .mainnav ul li a:hover{ border-bottom:4px solid #2b3590;}

.header .mainnav ul li a.active{ border-bottom:4px solid #bec1e5;}

.header .mainnav ul li a.inactive-menu{ pointer-events:none; border-bottom:4px solid #474fa5; color:#7c84ca;}

.header .rightitem{ float:right; margin:25px 15px 0;}

.header .rightitem:first-child{ margin-right:0;}

.header .topnotification{ position:relative;}

.header .topnotification .redcircle{ background:#ff0000; position:absolute; color:#fff; font-size:14px; font-weight:600; border-radius:50%; min-width:20px; min-height:20px; text-align:center; top:-3px; right:-5px; line-height:18px; padding:0 5px;}

.header .topprofile{ margin-top:12px; position:relative;}

.header .topprofile .topprfpic, .header .topprofile .topprfname, .header .topprofile .topprfarrow{ float:left;}

.header .topprofile .topprfpic{ border-radius:50%; overflow:hidden; background:#474fa5; width:60px; height:60px; text-align:center;}

.header .topprofile .topprfpic .inactiveprofile{ font-size:12px; padding:27px 0 0; width:60px; height:60px; background:#ff0000;}

.header .topprofile .topprfpic .inactiveprofile:before{ position:absolute; top:9px; left:23px; font-size:21px; font-family:'FontAwesome'; content:'\f023';}

.header .topprofile .topprfname h3{ margin:0; padding:0 0 2px; font-size:18px; color:#fff; font-weight:400;}

.header .topprofile .topprfname h4{ margin:0; padding:0; font-size:16px; color:#c6caef; font-weight:400; text-transform:uppercase;}

.header .topprofile .topprfname{ margin:7px 15px 0 10px;}

.header .topprofile .topprfarrow{ font-size:14px; color:#8d94d2; margin-top:15px;}

.header .topprofile .dropdown-toggle, .header .topnotification .dropdown-toggle{ cursor:pointer;}

.header .topprofile .dropdown-menu{ left:inherit; font-size:16px; right:0;}

.header .topprofile .dropdown-menu .divider{ margin:5px 0;}

.header .topprofile .dropdown-menu > li > a{ padding:5px 20px;}

.header .topnotification .dropdown-menu{ right:0; left:inherit; margin-top:5px; font-size:15px; padding:0;}

.header .topnotification .dropdown-menu h3, .header .topprofile .dropdown-menu h3{ color:#2c2c2c; margin:0; padding:18px 20px; font-size:18px; font-weight:600;}

.header .topnotification .dropdown-menu .divider{ margin:0;}

.header .topnotification .dropdown-menu > li > a{ padding:8px 20px;}

.header .topnotification .dropdown-menu li.jnotify a{ padding:15px 20px; color:#5c65be;}

.header .topnotification .dropdown-menu li.jnotify .glyphicon{ font-size:10px;}

.header .top2{ background:#474fa5;}

.header .top1:before{ position:absolute; content:''; top:0; right:0; border-top:41px solid transparent; border-right:31px solid #474fa5; border-bottom:41px solid #474fa5; border-left:31px solid transparent; z-index:1;}

.header .top2:after{ position:absolute; content:''; top:0; right:-62px; border-top:41px solid #474fa5; border-right:31px solid transparent; border-bottom:41px solid transparent; border-left:31px solid #474fa5; z-index:1;}

.header .top3{ background:#383f89; height:82px;}



.mainarea{ padding:50px 0; min-height:500px;}

.account-box-area{ padding:30px 0;}

.welcomerow{ margin-bottom:70px;}

.progress{ height:30px; margin:5px 0 0;}

.progress-bar{ line-height:30px; font-size:14px;}

.subnav{margin-bottom:40px; overflow:hidden; border-bottom:1px solid #cdcdcd;}

.subnav ul{ margin:0; padding:0; list-style:none;}

.subnav ul li{ float:left; margin:0 25px; font-size:18px;}

.subnav ul li:first-child{ margin-left:0;}

.subnav ul li a{ display:inline-block; padding:0 5px 18px; text-decoration:none; color:#2c2c2c !important; border:none; border-bottom:2px solid transparent; margin-bottom:-1px; background:none !important;}

.subnav ul li a:hover{color:#5c65be !important; background:none; border:none; border-bottom:2px solid transparent;}

.subnav ul li.active a, .subnav ul li.active a:hover, .subnav ul li.active a:focus{border:none; border-bottom:2px solid #5c65be;}

.borderbox{ border:1px solid #ebebeb; min-height:400px; margin:15px 0; box-shadow:0 0 10px rgba(0,0,0,0.1);}

.titlerow{ margin-bottom:50px;}

.jlist{ font-size:14px; color:#797979;}

.jlist .row{ padding:20px 0;}

.jlist .row:nth-child(even){ background:#f5f5f5;}

.jlist .label{ font-size:90%;}

.jlist .jprfpic, .jlist .jprfname{ float:left;}

.jlist .jprfpic{ padding-right:15px;}

.jlist .jprfname h3{ margin:0; padding:0; font-size:16px; color:#2c2c2c; line-height:38px;}

.jlist .jprfname h4{ margin:0; padding:0; font-size:12px; color:#2c2c2c; display:none;}



.topsearchform{position:relative; width:28px; height:28px;}

.topsearchform .titlerightsearch{position:absolute; top:-2px; right:-10px; z-index:9;}

.titlerightsearch{ margin-top:-8px;}

.titlerightsearch input{outline:none;}

.titlerightsearch input[type=search]{-webkit-appearance: textfield; -webkit-box-sizing: content-box; font-family: inherit; font-size: 100%;}

.titlerightsearch input::-webkit-search-decoration, input::-webkit-search-cancel-button{display: none; }

.titlerightsearch input[type=search]{background: url(../images/search-icon.png) no-repeat 15px center; border: solid 1px transparent; padding:13px 10px 13px 32px; width: 55px; -webkit-border-radius: 10em; -moz-border-radius: 10em; border-radius: 10em; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s;}

.titlerightsearch input[type=search]:focus {width: 300px; background-color: #fff; border: solid 1px #ccc;}

.titlerightsearch input:-moz-placeholder{color: #999;}

.titlerightsearch input::-webkit-input-placeholder{color: #999;}

.titlerightsearch input[type=search]{width:50px; padding-left: 10px; color: transparent; cursor: pointer; box-sizing:border-box;}

.titlerightsearch input[type=search]:focus{width: 380px; padding-left: 52px; color: #000; background-color: #fff; cursor: auto;}

.titlerightsearch input:-moz-placeholder{color: transparent;}

.titlerightsearch input::-webkit-input-placeholder{color: transparent;}

.topsearchform input[type=search]{background-image: url(../images/search-white-icon.png);}

.topsearchform input[type=search]:focus{background-image: url(../images/search-icon.png);}



/* chat */



.p-0 {padding: 0;}

.block {display: block !important;}

.text-ellipsis {display: block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.chatting-panel {border:none;border-radius: 0;box-shadow:none;padding: 0; margin-bottom:0;}

.chat-box-wrap {position: relative;height: 540px;/*overflow: hidden;*/ border:1px solid rgba(33, 33, 33, 0.1);}

.chat-box-left {float: left;width: 30%; min-height:538px; height:538px; position:relative; top:0; overflow:hidden;}

.chat-search {width: 100%;border-bottom: 1px solid #eaeaea;}

.chat-search .input-group {width: 100%;}

.chat-search .input-group .input-group-btn {position: absolute;right: 22px;top: 14px;z-index: 4;}

.chat-search .input-group .input-group-btn > .btn {background-color: transparent;border: medium none;padding: 0;}

.chat-search .input-group input {height: 52px;border-radius: 0;border: none;box-shadow: inherit;}

.chat-list-wrap {margin: 0;padding: 0;}

.chat-user-list {background-color: #fff;max-height: 486px;overflow-y: scroll;width: 100%;}

.chat-body-left > a {border-bottom: 1px solid #eaeaea;display: block;}

.chat-body-left .chat-data {padding: 10px 15px;position: relative;-webkit-transition: 0.2s ease;-moz-transition: 0.2s ease;transition: 0.2s ease;}

.chat-body-left .chat-data:hover {background: rgba(33, 33, 33, 0.05);}
.chat-body-left .chat-data.selected:hover {background:#5c65be; color:#fff;}

.chat-body-left .chat-data.active-user {background: rgba(33, 33, 33, 0.05);}

.chat-body-left .chat-data .user-img {height: 40px;width: 40px;float: left;margin-right: 15px;}

.chat-body-left .chat-data .user-data {float: left;}

.chat-body-left .chat-data .user-data .name {color: #2c2c2c;display: block;line-height: 14px; font-size:18px; margin-top:12px;}

.chat-body-left .chat-data .user-data .time {color: #8f8f8f;font-size: 12px;margin-top: 2px;text-transform: uppercase;width: 165px;}

.chat-body-left .chat-data .status {border: 2px solid #fff;border-radius: 50%;height: 10px;left: 45px;position: absolute;top: 10px;width: 10px;}

.chat-body-left .chat-data .status.away {background: #e69a2a;}

.chat-body-left .chat-data .status.offline {background: #ea6c41;}

.chat-body-left .chat-data .status.online {background: #469408;}

.chat-box-right .panel {border: 0 none;border-radius: 0;box-shadow: inherit; position:relative; height:540px; background:#f6f6f6; margin-bottom:0;}
.chat-box-right .panel-body{ padding:15px 0;}

.chat-box-right .panel-heading {border-bottom: 1px solid #eaeaea;min-height: 53px; background:#fff;}

.chat-box-right .user-details{display:inline-block;}

.chat-box-right {border-left: 1px solid rgba(33, 33, 33, 0.05);float: left;position: relative;right: 0;width: 70%; min-height:538px; height:538px; background:#f6f6f6 url(../images/chatlogo.png) no-repeat center center; top:0;}

.chat-box-right .user-info > a {color: #2c2c2c;text-transform: uppercase;}

.chat-box-right .user-info .status.online {background-color: #469408;}

.chat-box-right .user-info .status {border-radius: 50%;display: inline-block;height: 10px;margin-left: 5px;width: 10px;}

.chat-box-right .user-menu.navbar-nav > li > a {padding: 3px 15px;}

.chat-box{background-color:transparent;max-height:399px;overflow-y:scroll;width:100%;}

.chats{padding:0 15px}

.chat-avatar{float:right}

.chat-body{display:block;margin:10px 30px 0 0;overflow:hidden}

.chat-body:first-child{margin-top:0}

.chat-content{position:relative;display:block;float:right;padding:8px 15px;margin:0 20px 10px 0;clear:both;color:#fff;background-color:#5c65be;border-radius:4px}

.chat-content:before{position:absolute;top:10px;right:-10px;width:0;height:0;content:'';border:5px solid transparent;border-left-color:#5c65be}

.chat-content > p{margin-bottom:0;}

.chat-content > p:last-child{margin-bottom:0}

.chat-content + .chat-content:before{border-color:transparent}

.chat-time{color:rgba(255, 255, 255, 0.6);display:block;font-size:12px;}

.chat-left .chat-avatar{float:left}

.chat-left .chat-body{margin-right:0;margin-left:30px}

.chat-left .chat-content {background-color: #fff;border: 1px solid #eaeaea;color: #76838f;float: left;margin: 0 0 10px 20px;}

.chat-left .chat-content:before{right:auto;left:-10px;border-right-color:#dfe9ef;border-left-color:transparent}

.chat-left .chat-content + .chat-content:before{border-color:transparent}

.chat-left .chat-time{color:#a3afb7}

.avatar{border-radius:50%;display:inline-block;position:relative;vertical-align:bottom;white-space:nowrap;width:40px;}

.message-bar{display:table;height:44px;position:relative;width:100%;}

.message-bar .message-inner{display:table-row;height:100%;padding:0 8px;width:100%;}

.message-bar .link{color:#b0b0b0;display:table-cell;font-size:28px;padding:0 10px;position:relative;vertical-align:middle;width:30px;}
.chattrash a{ font-size:21px; color:#b0b0b0;}
.chattrash a:hover, .message-bar .link:hover{color:#5c65be;}

.message-bar .message-area{display:table-cell;}

.chat-box-right .panel-footer {border: 0;border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;background-color: transparent;padding:0;height: 60px; position:absolute; bottom:0; width:100%; background:#fff;}

.message-area input {background-color: #fff;border: 0 none;box-shadow: none;color: #555;display: block;font-size: 18px;height: 38px;margin: 10px 0;padding: 6px 12px;width: 100%;}

.btn.chat-send-btn {border:0;border-left: 1px solid #eaeaea;border-radius: 0;color: #fff; background:#5c65be; font-size: 18px;min-width: 126px;text-transform: uppercase;height: 59px;}

.btn.chat-send-btn:before{ content:"\f1d8"; font-family:'FontAwesome'; margin-right:3px;}



/* event */



.event-box{ border:1px solid #ebebeb; margin:15px 0; box-shadow:0 0 10px rgba(0,0,0,0.1);}

.previous-day {background-image: url("../images/arrow-left.png");background-position: left center;background-repeat: no-repeat;color: #ababab;line-height: normal;padding-left: 15px;}

.previous-day:hover {color: #ababab;}

.next-day {background-image: url("../images/arrow-right.png");background-position: right center;background-repeat: no-repeat;color: #ababab;line-height: normal;padding-right: 15px;}

.next-day:hover {color: #ababab;}

.event-main-date {color: #5c65be;font-size: 24px;font-weight: 600;margin: 0;}

.event-box-top {border-bottom: 1px solid #eaeaea;padding: 20px;}

.event-box-content {padding: 20px;}

.confirm-events h4 {color: #5cb85c;font-size: 24px;font-weight: 600;margin: 0 0 20px;}

.pending-events h4 {color: #5bc0de;font-size: 24px;font-weight: 600;margin: 0 0 20px;}

.event-name {color: #2c2c2c;font-size: 16px;}

.event-info {color: #2c2c2c;font-size: 12px;}

.event-timings {color: #797979;font-size: 14px;}

.event-list > li:nth-child(2n) {background-color: #f5f5f5;}

.event-list > li {margin: 0;}

.event-list .media-link {display: block;padding: 15px; text-decoration:none;}

.list-group-horizontal .list-group-item {margin-bottom: 0;margin-left: -5px;margin-right: 0;min-height: 40px;padding: 6px 15px;display: inline-block;}

.list-group-horizontal .list-group-item:first-child {border-top-left-radius: 10px;border-top-right-radius: 10px;}

.list-group-horizontal .list-group-item:last-child {border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}

.list-group-horizontal .list-group-item:first-child {border-top-right-radius:0;border-bottom-left-radius:10px;margin-left: 0;}

.list-group-horizontal .list-group-item:last-child {border-top-right-radius:10px;border-bottom-left-radius:0;}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {background-color: #5c65be;border-color: #5c65be;}

.event-list .media-link:hover {background-color: #5c65be;}

.event-list .media-link:hover  .event-name {color: #fff;}

.event-list .media-link:hover  .event-info {color: #fff;}

.event-list .media-link:hover  .event-timings {color: #fff;}

.event-list li.media{ overflow:visible; padding:15px;}

.event-list li.media:hover{ background:#5c65be;}

.event-list li.media:hover .event-name, .event-list li.media:hover .event-info, .event-list li.media:hover .event-timings{ color:#fff;}

.event-list .media-right{ position:relative;}

.event-list .media-right a.dropdown-toggle{ padding:5px;}

.event-list .media-right .dropdown-menu{ min-width:120px; top:50px; right:-10px; left:auto;}



/* Edit Profile */



.alert-danger.custom-alert {color: #898686;font-size: 14px;background-color: #fef2f2;border-color: #fef2f2;margin-bottom: 50px;}

.alert-danger.custom-alert span {color:#ff0000;}

.custom-alert .close {color: #f00;font-size: 14px;font-weight: normal;margin-top: 4px;opacity: 1;text-shadow: inherit;}

.profile-img {margin-bottom: 10px;}

.profile-img > img {border-radius: 10px;}

.change-picture .btn-default {border: 1px solid #5c65be;color: #5c65be;font-size: 16px;margin-bottom: 60px;}

.change-picture .btn-default:hover {border:1px solid #5c65be; color:#fff; background:#5c65be;}

.profile-preview .btn {font-size: 20px;padding: 10px 12px;text-transform: uppercase;}

.profile-right h4 {color: #2c2c2c;font-size: 24px;margin-bottom: 50px;margin-top: 0;}

.profile-right h5 {color: #2c2c2c;font-size: 18px; margin:20px 0 30px; font-weight:600;}

.profile-right .control-label, .leftsidebar .control-label {color: #2c2c2c;margin-bottom: 10px; font-weight:400;}

.profile-right .control-label > span, .leftsidebar .control-label > span {color: #f00;}

.education-details {border-bottom: 1px solid #eaeaea;margin-bottom: 50px;padding-bottom: 40px;}

.profile-right .form-control, .leftsidebar .form-control {border: 1px solid #e1e1e1;box-shadow: none;height: 40px;}

.profile-right textarea.form-control, .leftsidebar textarea.form-control {height:120px;}

.contact-details {border-bottom: 1px solid #eaeaea;margin-bottom: 50px;padding-bottom: 40px;}

.bank-details {margin-bottom: 50px;}

.btn-primary {background-color: #5c65be;border-color: #5c65be;color: #fff;}

.btn-primary:hover , .btn-primary.active, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:focus {background-color: #414ba4;border-color: #414ba4;}

.submit-btn .btn-primary {font-size: 24px;min-height: 60px;min-width: 274px;}

.search-btn .btn-primary {font-size:20px; text-transform:uppercase; width:100%; margin:10px 0 60px;}

.add-degree-btn {border: 1px solid #5c65be;color: #5c65be;margin-top: 25px;min-height: 35px;min-width: 137px;padding: 6px 12px;}

.m-r-5 {margin-right:5px;}

#advancedsearch .btn-default, #advancedsearch .btn-primary, #avatar-form .btn-default, #avatar-form .btn-primary{ font-size:16px; text-transform:uppercase; padding:8px 40px;}

.modal-content{ padding:0;}

.modal-header, .modal-footer{ border:none;}

.modal-header{ padding:20px 30px; background:#5c65be; color:#fff; border-radius:4px 4px 0 0;}

.modal-header h3, .modal-header h4{ font-size:24px; line-height:26px; margin:0; padding:0;}

.modal-body{ padding:30px; font-size:18px;}

.modal-footer{ padding:0 30px 30px;}
.modal-footer button{ font-size:16px; font-weight:600; padding:6px 25px;}

.modal-header .close{ color:#fff; opacity:0.4;}

.modal-header .close:hover, .modal-header .close:focus{ color:#fff; opacity:1;}
.modal-body label{ font-size:16px; font-weight:400;}


footer{ text-align:center; color:#808080; padding-bottom:40px;}

footer a{color:#808080; text-decoration:none;}

footer a:hover{color:#808080; text-decoration:underline;}

footer .thoughts{ padding:10px 0 70px; font-size:18px;}

footer .thoughts a{ padding:8px 18px; border:1px solid #818181; border-radius:4px; display:inline-block; color:#808080; text-decoration:none; margin-top:10px;}

footer .thoughts a:hover{ border:1px solid #5c65be; color:#fff; background:#5c65be;}



/* Home */



.main-section{overflow:hidden;position:relative;}

.inner-main{min-height:700px; position:relative; background:#000;}

.bgvideo{ width:100%; height:700px; position:absolute; z-index:0; overflow:hidden; opacity:0.3;}

.bgvideo video{ width:auto; height:auto; min-height:100%; min-width:100%;}

.product-works{background-color:#f5f5f5;padding:80px 0;}

.about-school{background:#fff;position:relative;z-index:90;padding:80px 0;border-bottom:1px solid #ddd;}

.pro-img{text-align:center; width:900px; height:464px; margin:auto; background:url(../images/video.png) no-repeat;}

.pro-img video{ margin-top:28px;}

.small-step{background-color:#f5f5f5;border-radius:10px;text-align:center;overflow:hidden;transition:all 300ms linear;}

.small-step > a > span{font-size:70px;display:block;}

.social-icons{list-style:none;}

.social-icons > li{display:inline-block;margin:0 5px;text-align:center;}

.social-icons > li:last-child{margin-right:0;}

.social-icons > li > a{border:1px solid #ddd;border-radius:50%;color:#757575;display:inline-block;font-size:22px;height:40px;line-height:40px;width:40px;}

.social-icons > li > a:hover{background-color:#5c65be;border:1px solid #5c65be;color:#fff;}

.login-btn{background-color:transparent;border:1px solid #fff;border-radius:10px;color:#fff;font-size:24px;font-weight:700;min-width:200px;padding:10px 12px;text-transform:uppercase;}

.signup-btn{text-transform:uppercase;color:#fff;font-weight:700;padding:10px 12px;border-radius:10px;min-width:200px;font-size:24px;}

.form-control.search-input::-moz-placeholder{font-size:22px;}

.form-control.search-input:-ms-input-placeholder{font-size:22px;}

.form-control.search-input::-webkit-input-placeholder{font-size:22px;}

.feedback .form-control::-moz-placeholder{font-size:22px;}

.feedback .form-control:-ms-input-placeholder{font-size:22px;}

.feedback .form-control::-webkit-input-placeholder{font-size:22px;}

.feedback .form-control{font-size:22px;}

.search-input{font-size:22px;}

.header .navbar{z-index:1000;}

.navbar-header{padding:10px 0;}

.navbar-brand{height:auto;padding:0 15px;}

.header  .container-fluid > .navbar-collapse{background:#2f3c49;padding-left:0;padding-right:0;margin-left:-15px;margin-right:-15px;}

/*.navbar-nav{margin-left:0;margin-right:0;width:80%;margin-bottom:0;}*/

.header  .navbar-nav > li:last-child{margin-right:0 !important; margin-left:5px;}

.header  .navbar-nav li a{color:#fff;font-size:20px;padding:4px 12px;}

.header  .navbar-nav li a:hover{color:#5c65be;}

.header  .nav > li > a:hover, .nav > li > a:focus{background:none;}

.login-menu{ margin-left:20px;}

.footer{background-color:#f5f5f5;padding:20px 0;border-top:1px solid #ddd;}

.footer ul{padding:0;}

.nav-links{text-align:right;margin-top:10px;}

.nav-links li{display:inline-block;}

.nav-links > li + li::before{content:"/ ";padding:0 5px;}

.nav-links a{color:#494949;}

.nav-links a:hover{color:#5c65be;}

.copyright a{color:#494949;border-bottom:1px dotted #fff;}

.nav-links li:last-child{padding-right:0;margin-right:0;border-right:none;}

.footer .social-icons{float:right;margin:19px 0 0;padding:0;}

.navbar-collapse .navbar-nav > li{float:none;display:inline-block;margin-right:0;}

.navbar-collapse{position:relative;display:inline-block;width:75%;float:right;background:none;margin:37px 0 0 10px;box-shadow:0 0px 0 rgba(255, 255, 255, 0) inset;}

/*.navbar-collapse .navbar-nav{width:96%;float:left;text-align:right;}*/

.social ul{display:block;float:right;margin:0 auto;padding:15px 0 0;}

.social ul li{display:block;float:right;height:40px;padding:0 2px 0 0;width:40px;}

.social ul li a{display:block;height:40px;opacity:0.6;width:40px;}

.social ul li.facebook a{background:rgba(0, 0, 0, 0) url("../assets/img/facebook.png") no-repeat scroll 0 0;}

.social ul li.twitter a{background:rgba(0, 0, 0, 0) url("../assets/img/twitter.png") no-repeat scroll 0 0;}

.feedback{padding:80px 0;}

.header-title{font-size:36px; font-weight:600;}

.feedback .form-control{border:1px solid #d3d3d3;border-radius:0;box-shadow:inherit;height:60px;}

.feedback textarea.form-control{height:148px;}

.feedback .form-group{margin-bottom:30px;}

.btn-primary{background-color:#5c65be;border-color:#5c65be;color:#fff;}

.btn-primary:hover{background-color:#414ba4;border-color:#414ba4;}

.feed-btn{border-radius:10px;font-size:24px;min-height:60px;min-width:275px;padding:11px 35px;text-transform:uppercase;}

.m-b-30{margin-bottom:30px;}

.m-b-20{margin-bottom:20px;}

.m-t-0{margin-top:0;}

.m-t-20{margin-top:20px;}

.m-b-50{margin-bottom:50px;}

.step-left{padding-right:31%;position:relative;}

.step-right{padding-left:31%;position:relative;}

.step-left > img{border-radius:10px 0 0 10px;}

.step-right > img{border-radius:0 10px 10px 0;}

.step-cont{background-color:#f5f5f5;height:100%;position:absolute;top:0;}

.step-right .step-cont{left:0;text-align:left;}

.step-left .step-cont{background:#f5f5f5 none repeat scroll 0 0;height:100%;right:0;padding:30px;position:absolute;text-align:right;top:0;transform:skewX(-150deg);width:50%;transition:all 300ms linear;}

.step-left .step-arrow{padding:0 0 50px;right:0;transform:skewX(150deg);width:100%;float:right;}

.step-right .step-cont{background:#f5f5f5 none repeat scroll 0 0;height:100%;right:0;padding:30px;position:absolute;text-align:right;top:0;transform:skewX(-150deg);width:50%;transition:all 300ms linear;}

.step-right .step-arrow{float:left;padding:0 0 50px;right:0;text-align:left;transform:skewX(150deg);width:100%;}

.step-arrow{position:relative;height:100%;}

.step-arrow span.text-link{color:#5c65be;display:inline-block;font-size:36px;font-weight:bold;margin-top:16px;}

.step-arrow span{font-size:30px;color:#494949;}

.click-btn{background-color:transparent;border:1px solid #5c65be;color:#5c65be;font-size:13px;padding:3px 20px;text-transform:uppercase;}

.click-btn:hover{background-color:#fff;}

.step-left .step-arrow > p{margin-bottom:75px;}

.step-right .step-arrow > p{margin-top:72px;}

.work-process{padding:80px 0;text-align:center;}

.banner-content h1{color:#fff;font-size:36px;line-height:48px;margin:50px 0 60px;}

.work-list{ padding-right:50px;}

.work-list .media .media-left{padding-right:20px;vertical-align:middle;}

.work-list .media .media-left a{display:inline-block;height:80px;position:relative;text-align:center;width:80px;z-index:3;}

.banner-content .searchform{ position:relative; width:1070px; height:60px; margin:auto;}

.form-control.search-input{background-color:#f2f2f2;border:0 none;border-radius:10px;height:60px;padding:10px 20px;}

.banner-content .searchform input[type=submit]{ width:60px; height:60px; position:absolute; top:0; right:0; border:none; background:#a9a9a9 url(../images/search.png) no-repeat center center; font-size:0;}

.banner-content .searchform input[type=submit]:hover{ background-color:#5c65be;}

.m-r-30{margin-right:30px;}

.work-title{color:#2f2f2f;display:inline-block;font-size:24px;margin-bottom:10px;margin-top:0;}

.section-header p{font-size:18px;margin-bottom:50px;}

.navbar.bg-transparent{background-color:transparent;border:none;box-shadow:none;color:#fff;}

.navbar.bg-transparent.top-nav-collapse{background-color:#fff;box-shadow:0 1px 1px rgba(0,0,0,.1);-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}

.top-nav-collapse .navbar-nav > li > a{color:#5c65be;}

.top-nav-collapse .login-menu > a{border:1px solid #5c65be;border-radius:4px;}

.banner-content{margin-bottom:60px;margin-top:120px;}

.intro-section{padding-top:80px; background:url(../images/header_shadow.png) repeat-x top; position:relative; z-index:1;}

.login-menu a{border:1px solid #fff;border-radius:4px;font-size:15px !important;text-transform:uppercase;}

.login-menu > a:hover{background-color:#5c65be !important;border:1px solid #5c65be;color:#fff !important;}

.work-list .media-body > p{margin-bottom:0;}

.work-list .media{margin-top:50px;}

.work-list .media:first-child{margin-top:0;}

.small-step:hover{background-color:#5c65be;color:#fff;}

.small-step:hover .step-cont{background-color:#5c65be;}

.small-step:hover .click-btn{background-color:transparent;border:1px solid #fff;color:#fff;}

.small-step:hover .text-link{color:#fff;}

.small-step:hover .step-arrow span{color:#fff;}

.work-img{ position:relative; top:40px;}



.searchform .btn {font-size:24px; height:60px; width:140px; border-radius:10px;}



/* login */



.account-page {background-color:#ededed;}

.account-box {background-color: #ffffff;border-radius: 10px;box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);margin: 40px auto 0;padding: 40px;width: 500px; position:relative;}

.account-box-signup{ width:640px;}

.login-logo {background-color: #5c65be;border-radius: 50%;height: 80px;line-height: 75px;margin: -80px auto 30px;position: relative;text-align: center;width: 80px;}

.account-title {font-size: 30px;margin-bottom: 40px;margin-top: 0;text-align: center;}

.forgot-link {color: #3d3d3d;display: inline-block;font-size: 18px;margin-top: 10px;}

.signup-link {margin-top: 20px;text-align: center;}

.signup-link > a {color: #3d3d3d;display: inline-block;font-size: 18px;}

.or-box{position: relative;border-top: 1px solid #dfdfdf;padding-top: 20px;margin-top:20px;}

.or {color: #666666;background-color: #ffffff;position: absolute;text-align: center;top: -8px;width: 40px;left: 90px;}

.account-box .btn:hover{color: #fff;}

.btn-facebook {background-color: #3a559f;color: #fff !important;font-size: 14px; padding:10px 12px;}

.btn-google {background-color: #dd4b39;color: #fff !important;font-size: 14px; padding:10px 12px;}

.btn-facebook i, .btn-google i{ font-size:20px; margin-right:5px; position:relative; top:2px;}

.login-or {color: #aaa;font-size: 18px;margin-bottom: 10px;margin-top: 10px;padding-bottom: 10px;padding-top: 10px;position: relative;}

.hr-or {background-color: #e1e1e1;margin-bottom: 0;margin-top: 0;}

.span-or {background-color: #fff;display: block;left: 50%;margin-left: -25px;position: absolute;text-align: center;top: -2px;width: 50px;}

.account-box .form-control {border: 1px solid #bebebe;box-shadow: inherit;font-size: 18px;height: 50px;}

.account-btn {font-size: 24px;padding: 7px 12px;}



/* Guru List */



.guru-list {background-color: #fff;border: 1px solid #e9e9e9;border-radius: 10px;/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/color: #3e3e3e;display: block;margin-bottom: 30px;padding: 20px;width: 100%;}

.guru-img {margin-bottom: 10px;}

.price {color: #3e3e3e;font-size: 14px;}

.guru-name {font-size: 24px;font-weight: bold;}

.guru-country {color: #3e3e3e;font-size: 14px;}

.currency {font-weight: bold;vertical-align: super;}

.amount {font-size: 18px;font-weight: bold;}

.guru-title{color: #3e3e3e;font-weight: 600;}

.guru-name {color: #3e3e3e;}

.fa-star {color: #ffc513;}

.guru-title {margin: 0;}

.ratings {font-size: 18px;margin-bottom: 10px;}

.read-more {color: #9d9d9d;font-size: 14px;}

.availablity ul {list-style: none;margin: 0;padding: 0;color: #4e4e4e;}

.widget-title {color: #4e4e4e;font-weight: 600;margin: 0 0 20px;}

.availablity input {margin: 10px 5px 0 0;}

.widget {margin-bottom: 30px;}

.guru-search {margin-bottom: 40px;}

.guru-search .form-control {box-shadow: none;border-radius: 10px;height: 60px;font-size: 22px;padding: 6px 20px;}

.guru-search .btn {border-radius: 10px;font-size: 24px;height: 60px;width: 140px;}



/* Range Slider */



.jslider {top: 12px;}

.jslider .jslider-value {background-color: #fff;color: #5a5a5a;font-size: 12px;font-weight: bold;border: 2px solid #f0f0f0;top: -47px;padding: 9px;}

.jslider .jslider-bg i {height: 7px;}

.jslider .jslider-bg .l, .jslider .jslider-bg .f, .jslider .jslider-bg .r {background: none;background-color: #dadada;height: 7px;}

.jslider .jslider-bg .v {background: none;background-color: #5c65be;height: 7px;top: 0;}

.jslider .jslider-pointer {background-color: #fff;height: 20px;width: 20px;border: 1px solid #dbdbdb;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;top: -6px;}

.jslider .jslider-pointer:after, .jslider .jslider-pointer:before, .jslider .jslider-pointer-to:after, .jslider .jslider-pointer-to:before {top: -8px;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;z-index: 2;}

.jslider .jslider-pointer:after {border-color: rgba(255, 255, 255, 0);border-top-color: #ffffff;border-left-color: #ffffff;border-width: 3px;margin-left: -2px;top: -10px;}

.jslider .jslider-pointer:before {border-color: rgba(240, 240, 240, 0);border-top-color: #f0f0f0;border-left-color: #f0f0f0;border-width: 5px;margin-left: -4px;top: -9px;}

.jslider .jslider-pointer + .jslider-pointer-to:after {border-color: rgba(255, 255, 255, 0);border-top-color: #ffffff;border-right-color: #ffffff;border-width: 3px;margin-left: -2px;top: -10px;}

.jslider .jslider-pointer + .jslider-pointer-to:before {border-color: rgba(240, 240, 240, 0);border-top-color: #f0f0f0;border-right-color: #f0f0f0;border-width: 5px;margin-left: -4px;top: -9px;}

.jslider .jslider-pointer.slide-right:after, .jslider .jslider-pointer-to.slide-right:after {border-width: 3px !important;margin-left: -12px !important;top: -10px !important;}

.jslider .jslider-pointer.slide-right:before, .jslider .jslider-pointer-to.slide-right:before {border-width: 5px !important;margin-left: -14px !important;top: -9px !important;}

.price-range {-moz-transition: 0.3s;-o-transition: 0.3s;-webkit-transition: 0.3s;transition: 0.3s;margin-bottom: 20px;padding: 50px 0 10px;}

.price-range .jslider-label, .price-range .jslider-value {color: #5a5a5a;}

.age-range {-moz-transition: 0.3s;-o-transition: 0.3s;-webkit-transition: 0.3s;transition: 0.3s;margin-bottom: 20px;padding: 50px 0 10px;}

.age-range .jslider-label, .age-range .jslider-value {color: #5a5a5a;}

/*.input-group span, .form-group span, label, .form-inline span {font-size: 16px;font-weight: bold;margin-bottom: 10px;}*/

.rating-count {color: #3e3e3e;font-size: 14px;font-weight: bold;}

.total-rating {color: #3e3e3e;font-size: 14px;}

.filter-title {color: #4e4e4e;font-size: 30px;margin: 0 0 40px;}

.load-more-btn .btn.btn-default {border-color: #5c65be;color: #5c65be;padding: 6px 17px; transition:all 300ms linear;}

.load-more-btn .btn.btn-default:hover {background-color: #5c65be;color: #fff;}

.sort-text > span {color: #3e3e3e;display: inline-block;font-size: 18px;margin-right: 10px;margin-top: 4px;}

.view-format {margin-right: 20px;}

.view-format > span {color: #3e3e3e;display: inline-block;font-size: 18px;margin-right: 10px;margin-top: 4px;}



/* Guru Details */



.profile-top {margin-bottom: 30px;}

.user-details {color:#3e3e3e;}

.user-name {margin-bottom: 10px;}

.user-name > a {color: #3e3e3e;display: inline-block;font-size: 24px;font-weight: bold;}

.user-title {margin: 0 0 20px;}

.user-title > a {color: #3e3e3e;display: inline-block;}

.user-address {font-size: 14px;}

.user-address i {color: #8a8a8a;margin-right: 3px;text-align: center;width: 14px;}

.subjects {font-size: 14px;margin-bottom: 10px;}

.subjects i {color: #8a8a8a;margin-right: 3px;text-align: center;width: 14px;}

.load-icon {background-image: url("../images/contact-icon.png");height: 24px;width: 24px;}

.contact-btn .btn.btn-primary {border-radius: 10px;font-size: 18px;font-weight: 600;min-width: 190px;padding: 12px 24px;}

.contact-btn .btn.btn-primary img {margin-right: 5px;vertical-align: text-top;}

.guru-details-widget .amount {font-size: 48px;}

.guru-details-widget .currency {font-size: 24px;}

.guru-details-widget .price {font-size: 18px;margin-bottom: 40px;}

.review-details:before {color: #ccc;content: "\201C";font-size: 5em;position:absolute;top:40px;left: 17px;font-family: Arial, Helvetica, sans-serif;}

.review-details {background-color: #f5f5f5;border-radius: 10px;padding: 20px 20px 20px 60px;position: relative;margin-bottom: 20px;}

.review-widget > h4 {margin: 0 0 20px;}

.review-author span {font-style: normal;font-weight: bold;}

.testimonial-caret {border-bottom: 20px solid transparent;border-right: 20px solid #f5f5f5;bottom: -20px;content: "";display: block;height: 0;left: 30px;position: absolute;width: 0;}



/* Grid View */



.grid-view .guru-list {text-align:center;}

.grid-view .guru-img {margin-bottom: 20px;}

.guru-list:hover {background-color: rgba(92, 101, 190, 0.1);color:#3e3e3e;}

.view-format .btn-default.active, .view-format .btn-default:active, .view-format .open > .dropdown-toggle.btn-default {background-color: #5c65be;border-color: #5c65be;color: #fff;}



/* Signup */



.row.row-sm {margin-left: -8px;margin-right: -8px;}

.row.row-sm > div {padding-left: 8px;padding-right: 8px;}

.m-t-30 {margin-top: 30px;}



/* Select2 */



.select2-container .select2-selection--single {border: 1px solid #cacaca;height: 34px;}

.select2-container--default .select2-selection--single .select2-selection__arrow {height: 30px;}

.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #d6d6d6 transparent transparent;border-style: solid;border-width: 6px 6px 0;height: 0;left: 50%;margin-left: -10px;margin-top: -2px;position: absolute;top: 50%;width: 0;}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #d6d6d6;border-width: 0 6px 6px;}

.select2-container .select2-selection--single .select2-selection__rendered {padding-right:30px;padding-left: 15px;}

.select2-container--default .select2-selection--single .select2-selection__rendered {color: #3e3e3e;line-height: 32px;}



/* Calendar  */



.calendar {float: left;margin-bottom: 0;}

.fc-view {margin-top: 30px;}

.none-border .modal-footer {border-top: none;}

.fc-toolbar h2 {font-size: 18px;font-weight: 600;font-family: 'Lato', sans-serif;line-height: 30px;text-transform: uppercase;}

.fc-day-grid-event .fc-time {font-family: 'Lato', sans-serif;}

.fc-day {background: #fff;}

.fc-toolbar .fc-state-active,

.fc-toolbar .ui-state-active,

.fc-toolbar button:focus,

.fc-toolbar button:hover,

.fc-toolbar .ui-state-hover {z-index: 0;}

.fc th.fc-widget-header {background: #eeeeee;font-size: 14px;line-height: 20px;padding: 10px 0;text-transform: uppercase;}

.fc-unthemed th,

.fc-unthemed td,

.fc-unthemed thead,

.fc-unthemed tbody,

.fc-unthemed .fc-divider,

.fc-unthemed .fc-row,

.fc-unthemed .fc-popover {border-color: #f3f3f3;}

.fc-button {background: #f1f1f1;border: none;color: #797979;text-transform: capitalize;box-shadow: none !important;border-radius: 3px !important;margin: 0 3px !important;padding: 6px 12px !important;height: auto !important;}

.fc-text-arrow {font-family: inherit;font-size: 16px;}

.fc-state-hover {background: #f3f3f3;}

.fc-state-highlight {background: #f0f0f0;}

.fc-state-default{ background:#fff !important; border-color:#e5e5e5 !important;}

.fc-state-down,

.fc-state-active,

.fc-state-disabled {background-color: #5c65be !important; border-color:#5c65be !important;color: #fff !important;text-shadow: none !important;}

.fc-cell-overlay {background: #f0f0f0;}

.fc-unthemed .fc-today {background: #fff;}

.fc-event {border-radius: 2px;border: none;cursor: move;font-size: 13px;margin: 1px 7px;padding: 5px 5px;text-align: center;}

.external-event {cursor: move;margin: 10px 0;padding: 6px 10px;}

.external-event.bg-primary {background-color: rgba(127, 193, 252, 0.3) !important;color: #7fc1fc;}

.external-event.bg-success {background-color: rgba(75, 211, 150, 0.3) !important;color: #4bd396;}

.external-event.bg-info {background-color: rgba(58, 201, 214, 0.3) !important;color: #3ac9d6;}

.external-event.bg-warning {background-color: rgba(249, 200, 81, 0.3) !important;color: #f9c851;}

.external-event.bg-danger {background-color: rgba(245, 112, 122, 0.3) !important;color: #f5707a;}

.external-event.bg-pink {background-color: rgba(240, 98, 146, 0.3) !important;color: #f06292;}

.external-event.bg-purple {background-color: rgba(107, 95, 181, 0.3) !important;color: #6b5fb5;}

.external-event.bg-inverse {background-color: rgba(59, 62, 71, 0.3) !important;color: #3b3e47;}

.external-event.bg-orange {background-color: rgba(255, 152, 0, 0.3) !important;color: #ff9800;}

.external-event.bg-brown {background-color: rgba(141, 110, 99, 0.3) !important;color: #8d6e63;}

.external-event.bg-teal {background-color: rgba(38, 166, 154, 0.3) !important;color: #26a69a;}

.fc-basic-view td.fc-week-number span {padding-right: 8px;font-weight: 700;font-family: 'Lato', sans-serif;}

.fc-basic-view td.fc-day-number {padding-right: 8px;font-weight: 700;font-family: 'Lato', sans-serif;}



/* Background colors */



.bg-custom {background-color: #188ae2 !important;}

.bg-primary {background-color: #7fc1fc !important;}

.bg-success {background-color: #4bd396 !important;}

.bg-info {background-color: #3ac9d6 !important;}

.bg-warning {background-color: #f9c851 !important;}

.bg-danger {background-color: #f5707a !important;}

.bg-muted {background-color: #797979 !important;}

.bg-inverse {background-color: #3b3e47 !important;}

.bg-purple {background-color: #6b5fb5 !important;}

.bg-pink {background-color: #f06292 !important;}

.bg-orange {background-color: #ff9800 !important;}

.bg-brown {background-color: #8d6e63 !important;}

.bg-teal {background-color: #26a69a !important;}

.bg-white {background-color: #ffffff !important;}

.bg-dark {background-color: #313a46 !important;}

.card-box {background-color:#fff; border:1px solid #e9e9e9; /*box-shadow:0 0 10px rgba(0, 0, 0, 0.05);*/ margin-bottom:30px; padding:20px;}



.nav.nav-tabs.search-tabs {border: 0 none; margin-bottom: 25px; text-align: center;}

.nav.nav-tabs.search-tabs > li {display: inline-block; float: none;}

.subject-icon {background-image: url("../images/subject-icon.png"); background-repeat: no-repeat; background-position:top center; display: inline-block; height: 38px;  width: 38px;}

.nav-tabs.search-tabs > li.active .subject-icon {background-position:bottom center;}

.university-icon {background-image: url("../images/university-icon.png"); background-repeat: no-repeat; background-position:top center; display: inline-block; height: 38px; width: 38px;}

.nav-tabs.search-tabs > li.active .university-icon {background-position:bottom center;}

.nav-tabs.search-tabs > li.active > a, .nav-tabs.search-tabs > li.active > a:focus, .nav-tabs.search-tabs > li.active > a:hover {background-color:#5c65be; border:0; color:#fff;}

.nav-tabs.search-tabs > li > a {background-color: #fff; border: 0 none; border-radius: 10px; color: #a5a5a5; font-size: 18px; margin-left: 10px; margin-right: 10px; padding: 20px;}

.nav-tabs.search-tabs > li.active > a:after {border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #5c65be; content: ""; height: 0; left: 50%; margin-left: -20px; position: absolute; top: 100%; width: 0;}



.vdscreen{ overflow:hidden; padding:0; min-height:650px; position:relative;}

.vdscreen .vdscreenleft{ border-right:1px solid #e9e9e9; width:25%; float:left; padding:20px; min-height:550px; text-align:center;}

.vdscreen .vdscreenright{ width:75%; float:left; padding:140px 20px; text-align:center; min-height:550px;}

.vcontrols{ text-align:center; margin-top:45px;}

.vcontrols ul{ margin:0; padding:0;}

.vcontrols ul li{ border-radius:50%; width:60px; height:60px; display:inline-block; margin:0 3px; padding:8px 0;}

.vcontrols ul li button{ background:none; border:none;}

.vcontrols ul li a{ border-radius:50%; width:60px; height:60px; display:inline-block; margin:0 3px; padding:8px 0;}

.vdscreen .opponentscreen{ position:absolute; right:0; bottom:0; width:200px; height:200px; background:#999999;}



.callbox{ border-radius:10px; padding:30px;}

.callbox h3{ margin:0; line-height:90px;}

.callbox .callbtn{ display:block; padding:15px; border:1px solid #5c65be; border-radius:8px; color:#5c65be; margin:25px 50px; font-size:18px;}

.callbox .callbtnactive a{ display:block; padding:15px; border:1px solid #5cb85c; background:#5cb85c; border-radius:8px; color:#fff; margin:25px 50px; font-size:21px; font-weight:700;}

.callbox .modal-lg{ width:90%;}

.callbox .modal-header{ border:none;}



a.bsignupbtn{font-size:24px; padding:24px 12px; background:#5c65be; display:block; text-align:center; margin:40px 0; border-radius:8px; color:#fff;}



.inputshare{ margin:5px -15px 0 -15px;}

.radioBtn .notActive{color:#414ba4; background-color:#fff;}

.radioBtn .btn-group-sm > .btn, .btn-sm{ padding:5px 6px;}



/* Profile */



.edit-btn .btn-default {border: 1px solid #5c65be;color: #5c65be;}

.edit-btn .btn-default:hover {background-color: #5c65be;color: #fff;}

.user-phone, .user-mail, .user-education {font-size: 14px;}

.user-mail a{color:#3e3e3e;}

.user-phone i, .user-mail i, .user-education i {color: #8a8a8a;margin-right: 3px;text-align: center;width: 14px;}

.profile-view-top {border-bottom: 1px solid #cdcdcd;margin-bottom: 40px;}

.profile-view-bottom h6 {color: #858585;font-size: 16px;margin: 0 0 5px;}

.profile-view-bottom h5 {color: #3e3e3e;font-size: 18px;margin: 0 0 30px; line-height:24px;}

.profile-view-bottom h5.dsgnation{ margin-bottom:15px;}

.profile-view-bottom h4 {color:#474fa5; font-size:20px; font-weight:600;}



.success-signup{ padding:50px 0; text-align:center;}

.success-signup .container{ padding:0 200px;}

.success-signup .cong_icon{ border:2px solid #e4e4e4; border-radius:50%; width:100px; height:100px; font-size:45px; color:#5c65be; text-align:center; margin:0 auto; display:block; padding:25px 0;}

.success-signup h2{ font-size:30px; font-weight:400; color:#000; line-height:30px; margin:20px 0 10px; padding:0;}

.success-signup h4{ font-size:18px; font-weight:400; color:#919191; line-height:18px; margin:0 0 50px; padding:0;}

.success-signup p{ font-size:18px; font-weight:400; color:#919191; line-height:21px; margin:0; padding:0 0 20px;}

.success-signup .btn-primary{ font-size:18px; text-transform:uppercase; display:block; width:100%; margin:40px auto 0; border-radius:10px; width:auto; padding:15px 50px;}

#mobile_first_verify .btn-primary, #mobile_first_verify_code .btn-primary{ padding:10px 30px; margin:0; border-radius:6px;}

#mobile_first_verify label, #mobile_first_verify_code label{ font-weight:400; display:block; text-align:left;}

#mobile_first_verify input, #mobile_first_verify input:focus, #mobile_first_verify_code input, #mobile_first_verify_code input:focus{ box-shadow:none; padding:13px 10px; height:auto; border-radius:6px; border:1px solid #ccc;}

#mobile_first_verify_success .cong_icon{color:#4baf4f;}

#mobile_first_verify_success .btn-primary{ display:inline-block; margin:0 auto;}



#loading-img {background: url(img/loading.gif) center center no-repeat; height: 100%; z-index:9999;}

.overlay {background:rgba(233,233,233,0.5); display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; overflow: auto; margin: auto; opacity:1;}

.success{ background:#dff0d8; padding:15px; margin:0 0 30px;}

.bv-form .help-block[data-bv-result="INVALID"]{ background:#c32c2c; padding:5px 10px; border-radius:4px; color:#fff; text-align:left; position:relative;}

.bv-form .help-block[data-bv-result="INVALID"]:after{ position:absolute; content:''; border-top:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #c32c2c; border-left:5px solid transparent; top:-10px; left:15px;}

.error{ /*background:#f2dede;  border:1px solid #ebccd1; border-radius:4px;*/ color:#a94442; text-align:center; display:block;}



.avatar-upload input{ margin-left:0;}

.avatar-save{ font-size:16px;}

.avatar-wrapper{ height:421px;}

.avatar-wrapper img{}

.avatar-body{ padding:0;}



.clpagebox{ padding:15px 0; border:1px solid #ebebeb; margin-bottom:15px; border-radius:6px;}

.clpagebox:last-child{ margin-bottom:0;}

.clpagebox .clprfleft{ float:left; margin-right:12px; border-radius:50%; background:#CCCCCC; width:40px; height:40px;}

.clpagebox .clprfright{ float:left;}

.clpagebox .clprfright h3{ font-size:18px; font-weight:600; line-height:18px; margin:0 0 5px; padding:0;}

.clpagebox .clprfright h3 a{ color:#2c2c2c;}

.clpagebox .clprfright h4{ font-size:14px; line-height:14px; margin:0; padding:0;}

.clpagebox .clprftime{ font-size:18px; font-weight:400; color:#fff; background:#5c65be; display:inline-block; padding:5px 12px; border-radius:4px;}

.shbox{ width:100%; display:block; overflow:hidden;}

.shinput{ float:left; width:316px;}

.shtextarea{ float:left; width:755px;}

.shbtns{ float:left; margin:5px 0 0 10px; width:82px;}



.payment_details .row{ background:#f5f6fe; margin-bottom:2px; padding:10px 0;}

.payment_details .row div:first-child{ text-align:right;}

.payment_details .row div:last-child{ font-weight:700;}

.payment_details .row.totalpay{ background:#e2e4ff; padding:18px 0; font-size:21px; font-weight:700;}

.payment_details .row.totalbtn{ background:none; margin-top:30px;}

.payment_details .row.totalbtn div:first-child{ text-align:center;}

.payment_details .row.totalbtn .btn-primary{ padding:8px 40px; font-size:16px; text-transform:uppercase;}



.timingsnav{ margin-bottom:30px; border-bottom:none;}

.timingsnav .nav-tabs{ background:#f5f6fe; border-top:1px solid #dcddea; border-bottom:1px solid #dcddea; padding:10px 0; text-align:center;}

.timingsnav .nav-tabs li{ float:none; display:inline-block; margin:0 10px;}

.timingsnav .nav-tabs li a{ background:#fff !important; border:1px solid #dcddea !important; border-radius:5px; padding:6px 20px; margin:0 !important; text-transform:uppercase;}

.timingsnav .nav-tabs li.active a{ background:#5c65be !important; border:1px solid #5c65be !important; color:#fff !important;}

#timings .control-label{color:#2c2c2c; font-weight:400; margin-bottom:10px;}

#timings .form-control{border:1px solid #e1e1e1; box-shadow:none;}

#timings .tadd{ margin-top:34px;}

#timings .timingsrow{ margin-top:50px;}

#timings .timingsrow .tbadge{ background:#d9534f; border:1px solid #d43f3a; border-radius:6px; color:#fff; padding:6px 15px; font-size:16px; margin:15px 20px 0 0; float:left;}

#timings .timingsrow .tbadge span.tclose{ display:inline-block; margin-left:7px;}

#timings .timingsrow .tbadge span.tclose a{ color:#e48784;}

#timings .timingsrow .tbadge span.tclose a:hover{ color:#fff;}



.tmgschedule{ margin:50px 0; width:100%; position:relative;}
.tmgsleft{ position:absolute; top:82px; left:0;}
.tmgsright{ position:absolute; top:82px; right:0;}
.tmgsleft a, .tmgsright a{ color:#cdcdcd;}
.tmgsleft a:hover, .tmgsright a:hover{ color:#5c65be;}
.form-inline{ position:relative; z-index:1;}

.tmgschedule .tmgcol{ width:162px; float:left; border-right:1px solid #eaeaea;}

.tmgschedule .table{ border:none;}

.tmgschedule .table th{ font-weight:400; text-align:center; text-transform:uppercase; font-size:18px; padding:20px 8px; width:14%; border-bottom:1px solid #ddd;}

.tmgschedule .table th:first-child, .tmgschedule .table td:first-child{ border-left:none;}

.tmgschedule .table th:last-child, .tmgschedule .table td:last-child{ border-right:none;}
.tmgschedule .table th:nth-child(7){ border-right:none !important;}

.tmgschedule .table th span.tdate{ display:block; color:#959595; font-size:14px;}

.tmgschedule .table td{ text-align:center; width:14%; border-bottom:none;}

.tmgschedule .ttiming{ background:#79b879; color:#fff; padding:5px 6px; border-radius:5px; margin:5px 0; font-size:14px; line-height:14px; display:inline-block;}

.tmgschedule .ttiming a{ color:#fff;}

.tmgschedule .ttiming.notavailable{ background:#ebebeb; color:#949494;}

.tmgschedule .ttiming.notavailable a{color:#949494; cursor:}

.tmgschedule .ttiming.tmgselected{ background:#383f89;}

.tmgconfirmation{ text-align:right; width:100%;}

.tmgconfirmation a{ font-size:18px; text-transform:uppercase; margin-left:10px; padding:15px 20px; border-radius:8px;}

.tmgconfirmation i{ margin-left:8px;}



.preloader{ width:100%; position:absolute; bottom:0; left:0; height:5px; background:#ebebeb; overflow:hidden;}

.preloader .loaderbar{ width:50%; height:5px; background:#5cb85c; animation:loader 1.3s infinite; -webkit-animation:loader 1.3s infinite;}

@keyframes loader {

    0%   { transform:translateX(-250px);}

    100% { transform:translateX(500px);}

}

@-webkit-keyframes loader {

    0%   { transform:translateX(-250px);}

    100% { transform:translateX(500px);}

}



.spa_conversations h3{ font-size:30px; color:#5c65be; margin:0 0 20px;}

.spa_conversations{ margin-bottom:30px;}

.spa_gurulist h4, .spa_applist h4{ font-size:24px; color:#5c65be;}

.spa_greytext{ color:#797979;}

.spa_conversations td{ vertical-align:middle !important;}

.spa_conversations .btn{ font-size:16px; padding:2px 8px;}

.spa_conversations th{ font-weight:600; font-size:18px;}

.spa_earned, .spa_paid, .spa_balance{ font-size:18px; margin-bottom:40px;}

.spa_earned span, .spa_paid span, .spa_balance span{ font-size:36px; line-height:36px; display:block; margin-bottom:5px;}

.spa_earned span{ color:#5867dd;}

.spa_paid span{ color:#66bb6a;}

.spa_balance span{ color:#f4516c;}

.spa_paynow .btn-primary{ font-size:24px; text-transform:uppercase; padding:8px 25px;}



.vccontainer{ border:1px solid #5c65be; padding:0;}

.vccontainer .vcheader{ background:#5c65be; height:50px; padding:5px 5px 5px 15px; color:#fff;}

.vccontainer .vcheader .vchtitle{ line-height:40px; font-size:18px; font-weight:600; text-transform:uppercase;}

.vccontainer .vcheader .vchclose a{ display:inline-block; padding:10px 15px 12px; color:#fff; font-size:16px; line-height:16px;}

.vccontainer .vcheader .vchclose a:hover{ background:#e30000;}

.vccontainer .vcboardhrz{ background:#e9e9e9; height:50px; position:relative;}

.vccontainer .vcboardhrz .nav{ padding-top:10px; padding-left:10px;}

.vccontainer .vcboardhrz .nav > li > a{ padding:8px 15px; font-size:14px; font-weight:600; color:#616161;}

.vccontainer .vcboardhrz .nav > li > a img{ margin-right:3px;}

.vccontainer .vcboardhrz .vcbclose a{ display:block; padding:10px 15px 12px; color:#aaaaaa; font-size:16px; line-height:16px; position:absolute; right:0; top:6px;}

.vccontainer .vcboardhrz .vcbclose a:hover{ background:#e30000; color:#fff;}



.vccontainer .vcboardstage{ height:690px; padding:20px;}

.vccontainer .brdrright{ border-right:1px solid #e9e9e9;}

.vccontainer .vcrow{ width:100%; float:left; clear:both;}

.vccontainer .vccol{ width:50%; float:left;}

.vccontainer .vcvideo{ height:391px; background:#f7f7f7; position:relative; overflow: hidden;}

.vccontainer .vcvideo .vcopponentvideo{ position:absolute; bottom:0; right:0; width:170px; height:120px; background:#999999;}

.vccontainer .vcactions{ height:60px; border-bottom:1px solid #e9e9e9; text-align:center;}

.vccontainer .vcactions a{ display:inline-block; width:40px; height:40px; background:#333333; border-radius:50%; margin:10px 2px;}

.vccontainer .vcactions a.vccall{ background:#5cb85c;}

.vccontainer .vcactions a.vcmike{ background:#337ab7;}

.vccontainer .vcactions a.vcend{ background:#d9534f;}

.vccontainer .vcmsg{ height:230px; border-bottom:1px solid #e9e9e9;}

.vccontainer .vcmsg .chat-box{ max-height:229px;}

.vccontainer .vcmsg .chat-box .chats{ padding:15px;}

.vccontainer .vccolsmall{ width:5%; height:740px; background:#e9e9e9; padding-top:10px;}

.vccontainer .vccolsmall a{ display:block; text-align:center; padding:10px;}

.vccontainer .vccollarge{ width:95%;}


.vcopponentvideo video { width: 100%;height: auto; } 
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{ background-color:#474fa5; border-color:#474fa5;}
.pagination > li > a, .pagination > li > span{ color:#474fa5; background:transparent; border:none;}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{ border-radius:0;}
.fc-today{ background:#f3f4fe !important;}
.jlist p{ margin:8px 0;}
.jlist ul.dropdown-menu{ min-width:100px;}
.jlist .dropdown button{ border-radius:4px; padding:2px 8px; margin-top:6px;}
.jlist .dropdown li a{ padding:3px 15px;}

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color:rgba(0,0,0,0.2) !important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color:rgba(0,0,0,0.75) !important;}

.topnotification a i{ font-size:26px; color:#fff;}
.topnotification.animate i{animation:tada both 1s;}
.topnotification.animate .redcircle{animation:bounce both 1s;}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -15deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 15deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -15deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -20px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}